// main color.,include  splite line, backgraoud-color
$maincolor: #ccc;


/*
*  common 
* left and right logo
*/
.logotype{
    max-width: 30px;
    max-height: 30px; 
    position: absolute;
    z-index:2;
}
 .topleft{
    top:20px;
    left: 20px;
    };
    .topright{
    top:20px;
    right: 20px;
    } 


/*
*   
* index page
*/ 

#header{
    background-color: #fff;
    border-bottom:2px solid $maincolor;
    min-width:150px;

    .m_logo{
     margin-left: 12px;
     width:35px;

    }
}