<!DOCTYPE html>
<html lang="en">
<style type="text/css">
@media screen and (max-width: 555px){ 
    .left-right-icon{
        display: none;
    }
    .top-bottom-icon{
        display: block;
    } 
    
}
@media screen and (min-width:556px) {
    .left-right-icon{
        display: block;
    }
    .top-bottom-icon{
        display: none
    }
}
</style>
<head>
    <%include head.html%>
    <title>detail</title>
</head>
<body class="secondbody">
    <%include modal.html%>
    <div class="left-right-icon" >
        <section class="opr-icon-left">
            <a href="/" class="top-icon"><img src="img/close.png"></a>
            <a class="mid-icon"><img src="img/prev.png"></a>
            <a href="/project" class="bottom-icon"><img src="img/return.png"></a>
        </section>
        <section class="opr-icon-right">  
            <a onclick="save()" class="top-icon"><img src="img/save3.png"></a>
            <a class="mid-icon"><img src="img/next.png"></a>
            <a onclick="show('.social-position');" class="bottom-icon"><img src="img/share3.png"></a>
            <div class="social-position hidden" style="position: fixed;bottom: 50px;margin-right: 5px;"></div>
        </section>
    </div>
    <div class="container">
        <div class="row" >
            <section class="col-xs-12 top-bottom-icon navbar-fixed-top opr-icon-top"> 
                <a href="/" class="left-icon"><img src="img/close.png"></a>
                <a class="center-icon"><img src="img/prev.png"></a>
                <a href="/project" class="right-icon"><img src="img/return.png"></a>
            </section>
            <section class="col-xs-12 col-md-12">  
                
            </section>  
            <section class="col-xs-12 top-bottom-icon navbar-fixed-bottom opr-icon-bottom">
                <a onclick="save()" class="left-icon"><img src="img/save3.png"></a>
                <a class="center-icon"><img src="img/next.png"></a>
                <a onclick="show('.social-position');" class="right-icon"><img src="img/share3.png"></a>
                <div class="social-position hidden" style="position: fixed;bottom: 50px;margin-right: 5px;"></div>
            </section>
        </div>  
    </div>
</body>
<%include foot.html%>
<script type="text/javascript">
    initSocial(".social-position");
</script>
<script type="text/javascript">

</script>
</html>













