  <!-- foot -->
  <!-- ui -->
  <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="js/water/vendor.js"></script>
  <script type="text/javascript" src="js/water/bootstrap-waterfall.js"></script>
  <script type="text/javascript" src="js/interaction.js"></script> 
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <!-- template -->
  <script src="js/template-web.js"></script>
  <!-- share -->
  <script type="text/javascript" src="js/jquery.share.min.js"></script> 
