  <header class="navbar navbar-fixed-top mininav">
    <ul class="nav navbar-nav navbar-avatar pull-right">
      <li class="dropdown all-camera-dropdown">
        <a class="dropdown-toggle userinfo" data-toggle="dropdown" href="#">
          <span>Message<span>
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu" style="margin-left: -8em;">
          <li data-filter-camera-type="all">
            <a href="/profile" class="media list-group-item">
              <span class="pull-left thumb-small"><img src="images/avatar.jpg" alt="John said" class="img-circle"></span>
              <span class="media-body block m-b-none">
                Welcome to Interstm 1.0<br>
                <small class="text-muted">23 Oct 2017</small>
              </span>
            </a>
          </li>
          <li data-filter-camera-type="all">
            <a href="/profile" class="media list-group-item"> 
              <span class="media-body block m-b-none">
                <B> 2 people pin your project </B><br>
                <small class="text-muted">20 Oct 2017</small>
              </span>
            </a>
          </li>
        </ul>
      </li>   
    </ul>
    <div class="navbar-brand pull-right userinfo"  > 
      <div style="display: inline" class="unlogin hidden">
        <a style="display: inline">  <img src="img/user.png" alt="logo" class="m_logo" ></a>
        <span onclick="loginin()" >登陆 </span> 
        <span onclick="register()">注册</span>
      </div>
      <div style="display: inline" class="loginin hidden">
        <a style="display: inline" href="/profile?userId=1">  <img src="img/user.png" alt="logo" class="m_logo" ></a>
        <span> </span>
      </div>
    </div>
    <a class="navbar-brand" href="/" >
      <img src="img/m_logo.png" alt="logo" class="m_logo" >
    </a>
    <form class="navbar-form pull-left hidden-xs" action="" data-toggle="shift:appendTo" data-target=".nav-primary" style="width:70%">
          <i class="glyphicon glyphicon-search text-muted" style="left:2em;top: 0.3em"></i>
          <input type="text" class="form-control" placeholder="Search" style="width:80%;padding-left: 2em;">
    </form>
  </header>
  <style type="text/css">
    .userinfo:hover {
      background-color: #eee;
      border-color: #337ab7;
      border-radius: 2em!important;}
      .userinfo span{
        font-size: 10px;
    }
  </style>
  <script type="text/javascript">
    $(document).ready(function () {
      var username = "Tom";
      localStorage.setItem(username,true);  
      localStorage.setItem("Jerry",false);  
      var loginFlag = checkLogin(username);
      if(loginFlag=="true"){
        $(".loginin").removeClass("hidden");
        $(".loginin").show();
        $(".unlogin").hide();
        $(".loginin span").html(username);
      }else{
        $(".unlogin").removeClass("hidden");
        $(".unlogin").show();
        $(".loginin").hide();
      }
    });
    var loginin = function(){
      alert("登陆界面");
    }
    var register = function(){
      alert("注册界面");
    }
  </script>