<!DOCTYPE html>
<html lang="en">
<style type="text/css">
@media screen and (max-width: 555px){ 
    #loopmodel{
        margin-top: 10%;
        margin-bottom: 10%;
        max-height: 80%!important;
    }
}
</style>
<head>
    <%include head.html%>
    <title>detail</title>
</head>
<body> 
  <%include modal.html%>
    <div class="left-right-icon" >
        <section class="opr-icon-left">
            <a href="/" class="top-icon"><img src="img/close.png"></a>
            <a class="mid-icon"><img src="img/prev.png"></a>
            <a href="/project" class="bottom-icon"><img src="img/return.png"></a>
        </section>
        <section class="opr-icon-right">  
            <a onclick="save()" class="top-icon"><img src="img/save3.png"></a>
            <a class="mid-icon"><img src="img/next.png"></a>
            <a onclick="show('.social-position');" class="bottom-icon"><img src="img/share3.png"></a>
            <div class="social-position hidden" style="position: fixed;bottom: 50px;margin-right: 5px;"></div>
        </section>
    </div>
    <div class="container">
        <div class="row" >
            <section class="col-xs-12 top-bottom-icon navbar-fixed-top opr-icon-top"> 
                <a href="/" class="left-icon"><img src="img/close.png"></a>
                <a class="center-icon"><img src="img/prev.png"></a>
                <a href="/project" class="right-icon"><img src="img/return.png"></a>
            </section>
            <section class="col-xs-12 col-md-12s" id="loopmodel" >
                <div id="360frames" class="center-block"></div>
            </section>  
            <section class="col-xs-12 top-bottom-icon navbar-fixed-bottom opr-icon-bottom">
                <a onclick="save()" class="left-icon"><img src="img/save3.png"></a>
                <a class="center-icon"><img src="img/next.png"></a>
                <a onclick="show('.social-position');"class="right-icon"><img src="img/share3.png"></a>
                <div class="social-position hidden" style="position: fixed;bottom: 50px;margin-right: 5px;"></div>
                
            </section>
        </div>  
    </div>
</body>
<%include foot.html%>
<script src="js/spritespin.js" type="text/javascript"></script>
<script type="text/javascript">
    initSocial(".social-position");
</script>
<script type="text/javascript">
var frames = [];
  function onWindowResize() {
         $("#360frames").spritespin({
            width     :  window.innerWidth*0.55, //900,
            height    :  window.innerHeight*0.9,//500,
          });
  }
  $(document).ready(function () {
    var data1= reqData("loop_image");
    $.each(data1['datalist'], function(i,val){
      frames.push(val['imageUrl']);
    });
    $("#360frames").spritespin({
                  width     :  window.innerWidth*0.6, //900,
                  height    :  window.innerHeight*0.9,//500,
                  frames    : frames.length,
                  behavior  : "drag", // "hold"
                  module    : "360",
                  sense     : -1,
                  source    : frames,
                  animate   : true,
                  loop      : false,
                  frameWrap : true,
                  frameStep : 1,
                  frameTime : 30,
                  enableCanvas : true
                });
    window.addEventListener('resize', onWindowResize, false);
  });
</script>
</html>
