<!DOCTYPE html>
<html>
  <head>
  	<meta name="viewport" content="user-scalable=0" charset="utf-8"/>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  <meta name="description" content="mobile first, app, web app, responsive, admin dashboard, flat, flat ui">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"> 
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <link rel="stylesheet" href="css/style.css">
  <script src="/javascripts/4dage.js"></script>
  </head>
  <body>

    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <section id="content">
              <script>
              w = 800;
              h = 400;
        Fdage.embed( '/images/JGT.4dage', { width: w, height:h, autoStart: true, fullFrame: true, pagePreset: true } );
    </script>
    </section>



  <script src="js/ui/jquery.min.js"></script>
  <!-- Bootstrap -->
  <script src="js/ui/bootstrap.js"></script>
  <!-- app -->
  <script src="js/ui/app.js"></script>
  <script src="js/ui/app.plugin.js"></script>
  <script src="js/ui/app.data.js"></script>
  </body>
</html>
