<!DOCTYPE html>
<html>  
     <%include head.ejs%>
     <title>interest-index</title>
<body>  
    <header>
        <%include header.ejs%>
    </header>
    <div class="container" style="margin-top:70px;">
        <div class="waterfall">
        </div>
    </div>
    <script id="waterfall-template" type="text/template">
        <% projectItems.forEach(function(item){%>
        <ul class="list-group">
            <li class="list-group-item">
                <a href="/project"> <img src=<%=item.url %>> </a>
                <div>
                    <img src="img/save2.png"  class="type topleft" /></a>
                    <img src="img/3dlogo.png"  class="type topright" /></a>
                <div>

                 <div class="social-share" data-initialized="true" style="max-width:140px;position:absolute;"  data-mobile-sites="weibo,qq,qzone,tencent">
                        <a href="#" class="social-share-icon icon-douban"></a>
                        <a href="#" class="social-share-icon icon-qzone"></a>
                        <a href="#" class="social-share-icon icon-wechat"></a>
                        <a href="#" class="social-share-icon icon-diandian"></a>
                        <a href="#" class="social-share-icon icon-qq"></a>
                        <a href="#" class="social-share-icon icon-weibo"></a>
                        <a href="#" class="social-share-icon icon-facebook"></a>
                        <a href="#" class="social-share-icon icon-twitter"></a>
                        <a href="javascript:;" class="social-share-icon icon-heart"></a>
                    </div>
                
            </li>
            <li class="list-group-item">
                <button type="button" class="btn btn-default btn-xs" title="thumb up"><span class="glyphicon glyphicon-thumbs-up"></span></button>
                <button type="button" class="btn btn-default btn-xs" title="thumb down"><span class="glyphicon glyphicon-thumbs-down"></span></button>
                <button type="button" class="btn btn-default btn-xs pull-right" title="pin"><span class="glyphicon glyphicon-pushpin"></span></button>
            </li>
            <li class="list-group-item">
                <div class="media">
                    <div class="media-left">
                        <a href="javascript:;"> <img class="media-object img-rounded" style="width: 30px; height: 30px;" src="images/avatar_30.png" /> </a>
                    </div>
                    <div class="media-body">
                        <h5 class="media-heading">Liber</h5> <small>I love this pin!</small> </div>
                </div>
            </li>
        </ul> 
        <% }) %>
    </script>
    <script src="js/water/vendor.js"></script>
    <script src="js/water/bootstrap-waterfall.js"></script>
    <script>
    $('.waterfall')
        .data('bootstrap-waterfall-template', $('#waterfall-template').html())
        .waterfall();
    </script>
</body>

</html>

<%include foot.ejs%>