<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="mobile-web-app-capable" content="yes" />
    <%include head.ejs%>
        <style type="text/css">
        @media screen and (max-width: 555px) {
            .ggskin_container {
                top: 80%!important;
            }
        }
        </style>
        <style type="text/css" title="Default">
        body,
        div,
        h1,
        h2,
        h3,
        span,
        p {
            font-family: Verdana, Arial, Helvetica, sans-serif;
        }
        /* fullscreen */
        
        html {
            height: 100%;
        }
        
        body {
            height: 100%;
            margin: 0px;
            overflow: hidden;
            /* disable scrollbars */
            font-size: 10pt;
        }
        /* fix for scroll bars on webkit & >=Mac OS X Lion */
        
        ::-webkit-scrollbar {
            background-color: rgba(0, 0, 0, 0.5);
            width: 0.75em;
        }
        
        ::-webkit-scrollbar-thumb {
            background-color: rgba(255, 255, 255, 0.5);
        }
        
        button {
            background: rgba(0, 0, 0, 0);
            border: 0px #ff0000 solid;
            background-size: 100% 100%;
            margin: 0.5em;
        }
        </style>
</head>

<body class="secondbody">
    <%include modal.ejs%>
        <div class="left-right-icon">
            <section class="opr-icon-left">
                <a href="/" class="top-icon close-icon"><img src="img/close.png"></a>
                <a class="mid-icon" href="/webgl?contentId=1"><img src="img/prev.png"></a>
                <a href="javascript:history.go(-1);" class="bottom-icon"><img src="img/return.png"></a>
            </section>
            <section class="opr-icon-right">
                <a href="" class="top-icon"><img src="img/save3.png"></a>
                <a class="mid-icon" href="/webgl?contentId=1"><img src="img/next.png"></a>
                <a onclick="show('.social-position');" class="bottom-icon"><img src="img/share3.png"></a>
                <div class="social-position hidden" style="position: fixed;bottom: 50px;margin-right: 5px;"></div>
            </section>
        </div> 
        <div class="center-block" id="panomodel" style="width:100%;height: 100%;">
            <br>Loading... <br>
            <br> This content requires HTML5 with CSS3 3D Transforms or WebGL.
         </div>
        <noscript>
            <p><b>Please enable Javascript!</b></p>
        </noscript>
            <!-- Hack needed to hide the url bar on iOS 9, iPhone 5s -->
        <div style="width:1px;height:1px;"></div>
        <div class="container">
            <div class="row">
                <section class="col-xs-12 top-bottom-icon navbar-fixed-top opr-icon-top">
                    <a href="/" class="left-icon close-icon"><img src="img/close.png"></a>
                    <a class="center-icon" href="/webgl?contentId=1"><img src="img/prev.png" class="rotate90"></a>
                    <a href="javascript:history.go(-1);" class="right-icon"><img src="img/return.png"></a>
                </section>
                <section class="col-xs-12 top-bottom-icon navbar-fixed-bottom opr-icon-bottom">
                    <a href="" class="left-icon"><img src="img/save3.png"></a>
                    <a class="center-icon" href="/webgl?contentId=1"><img src="img/next.png" class="rotate90"></a>
                    <a onclick="show('.social-position');" class="right-icon"><img src="img/share3.png"></a>
                    <div class="social-position hidden" style="position: fixed;bottom: 50px;margin-right: 5px;"></div>
                </section>
            </div>
        </div> 
</body>
<%include foot.ejs%>
<script type="text/javascript">
    $(document).ready(function() {
        initSocial(".social-position");
        var params = getQueryString().split('&');
	$('.mid-icon')[0].href = params[1]
        $('.mid-icon')[1].href = params[2]
	$('.center-icon')[0].href = params[1]
        $('.center-icon')[1].href = params[2]
        var data = reqData("/image_mgmt/pano_image?" + params[0]);
        $("title").html(data['datalist']["imageName"])
        $(".close-icon").attr("href","/project:"+data['datalist']["projectId"])
        var modelUrl = data['datalist']['modelUrl']
        if (data) {
            handles = data["datalist"]["handle"];
            for (var i = 0; i < handles.length; i++) {
                var $script = document.createElement('script');
                $script.type = 'text/javascript';
                $script.src =  handles[i]["url"];
                $("body").append($script);
            };
            var  $panoscript = "pano = new pano2vrPlayer('panomodel'); skin = new pano2vrSkin(pano); window.addEventListener('load', function(){pano.readConfigUrlAsync('"+ modelUrl + "');});"
            eval($panoscript)
        };
    });
</script>
</html>
